
/*************************************************
 * GENERAL 
 *************************************************/
 * {
    padding: 0;
    margin: 0;  
    font-family: Helvetica, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
header {
    margin-left: 5%;
    padding-bottom: 10%;
    padding-top: 10%;
}
h1 {
    font-size: 2.3rem;
}
h2 {
    font-size: 1.1rem;
}
h3 {
    margin-left: 5%;
    font-size: 1.1rem;
}
h4 {
    margin-bottom: 2%;
}
h5 {
    font-weight: normal;
    margin-bottom: 2%;
}
#main-page {
    display: flex;
    margin: auto;
}
.fa-dot-circle {
    font-size: 1.1rem;
    color:  rgb(55, 140, 194);
    margin-bottom: 10%;
}

/*************************************************
 * COTé GAUCHE
 *************************************************/

#OrangeBar {
    width: 30%;
    display: flex;
    justify-content: space-between;
}


.Halfpage:nth-child(1) {
    background-color:  rgb(194, 93, 26);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
.Halfpage:nth-child(2) {
    width: 70%;
}

#mainImg {
    border-radius: 100%;
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: 3%;
    width: 60%;
}
.blackBar {
    background-color: black;
    color:  rgb(194, 93, 26);
    text-align: center;
    margin-bottom: 5%;
    padding-top: 5px;
    width: 100%;

}
.contact {
    margin-left: 0.8cm;
    margin-bottom: 10%;
}
.contact {
    width: 75%;
    text-align: justify;
}
#interest {
    width: 100%;
}
#pictogrammes {
    display: flex;
    margin-top: 10%;
    margin-bottom: 0px;
    justify-content: space-around;
    padding-bottom: 10%;
}
.round {
    border: black 1px solid;
    width: 50px;
    height: 50px;
    padding: 7px;
    border-radius: 100%;
}
.fa-hiking, .fa-basketball-ball, .fa-book-reader {
    
    font-size: 3rem;
    padding-right: 1%;
    margin-left: 1px;
}
.fa-basketball-ball {
    line-height: 2px;
}

/*************************************************
 * CORPS DU CV 
 *************************************************/

#blueName {
    font-size: 2.4rem;
    color:  rgb(55, 140, 194);
}
.formation {
    display: flex;
    flex-flow: wrap;
    height: 25%;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 5%;
}
.fa-school, .fa-briefcase, .fa-pen {
    color: rgb(55, 140, 194);
    margin-right: 5%;
    font-size: 1.5rem;
}
.formationDate {
    margin-left: 3%;
    width: 30%;
    display: flex;
}
h5 {
    font-size: 0.9rem;
}
.formationContent {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.formationContent p {
    font-size: 0.8rem;
}
.lineCV {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 4%;
}
#recommandations {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding-bottom: 20px;
}
.recommandationsChild {
    width:40%;   
}

.orangeSeparation {
    height: 3px;
    width: 90%;
    margin-left: 4%;
    background-color:  rgb(194, 93, 26);
    margin-bottom: 3%;
    margin-top: 1%;
}
#orangeSeparationXs {
    height: 1px;
    width: 7%;
    background-color:  rgb(194, 93, 26);
    margin-top: 0.5%;

}


/*************************************************
 *                   RESPONSIVE 
 *************************************************/


 @media only screen and (max-width: 768px), (orientation: portrait) {
    * {
        font-size: 0.8rem;
    }
    #main-page {
        display: flex;
        flex-direction: column;
    }
    #orangeBar {
        width: 100%;
    }
    #mainContent {   
        width: 100%;
    }
    .Halfpage:nth-child(2) {
        width: 100%;
    }
    header{
        left: 10%;
    }
    #mainImg {
        width: 60%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .fa-hiking, .fa-basketball-ball, .fa-book-reader {
        width: 5%;
        margin-left: 1px;
    }
    .round {
        border: black 1px solid;
        width: 40px;
        height: 40px;
        padding: 7px;
        border-radius: 100%;
    }
  }

  @media only screen and (max-width: 480px) {
    #mainImg {
        margin-left: 25%;
        margin-top: 15%;
        margin-bottom: 10%;
        width: 50%;
    }
    .fa-hiking, .fa-basketball-ball, .fa-book-reader {
        width: 12%;
    }


  }

